
html, body {
    /* border: 2px solid blue; */
    /* height: 100%; */
    min-height: 100%;
    overflow-x: hidden;
    margin:0;
}

main {
    /* border:2px solid red; */
    margin-bottom: 50px;
    
}


a {
    color: indigo;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin:5px;
    padding:0px;
}

a:hover {
    color: cornflowerblue;
}


.button {
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    cursor: default;
}

.button:hover {
    background-color: indigo;
}

h1, h2, h3 {
    color: cornflowerblue;
}


header {
    /* border: 2px solid green; */
    padding: 5px;
    /* margin-bottom: 5px; */
    height: fit-content;
    background-color: cornflowerblue;
    
}



.org-logo {
    /* border: 1px solid red; */
    display: inline;
    /* float: left; */
    width: 5%;
    /* height: 5%; */
    margin-left: 5px;
    margin-right: auto;
  } 

  .nav-row {
    /* border:2px solid black; */
    padding: 5px;
    /* margin:0; */
    /* margin-left: full; */
    display: inline;
    float: right;
    list-style-type: none;
    /* text-align: right; */
    width: fit-content;
    
}

.nav-row a{
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    /* padding: 10px 20px; */
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

.nav-row a:hover {
    color: #ddd;
}

.nav-row li {
    display: inline;
    margin:5px;

}




/* Add this class to a div inside of main if showing
  info border and make sure margin-left is set to info-box width */
.info-border {
    /* border:3px solid orange; */
    margin-left:230px;
    height: 100%;
    min-height: 50vh;
    border-left:3px solid cornflowerblue;

}


.info-box {
    /* border-right:3px solid cornflowerblue; */
    float:left;
    min-height: 100%;
    width: 200px; 
    overflow: hidden;
    padding-right: 15px;
    padding-left: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top:25px;
    padding-bottom:50px;

}

.info-box h3 {
    text-align:center;

}


/* Foot wrap and footer min-height should equal 100 */
.foot-wrap {
    min-height: 80vh;

}

footer {
    background-color: indigo;
    width: 100%;
    height: 20vh;
    text-align: center;
}

footer ul {
    /* margin-top: 125px; */
    padding-top: 50px;
}

footer li {
    /* margin-top:25px; */
    display: inline;
}

footer a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin:5px;
    padding:0px;
}

footer a:hover{
    color: #ccc; 

}
  

.login-box {
    background-color: cornflowerblue;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin:5px;
    padding: 25px;
    width: 325px;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;

}

.login-box button {
    border: none;
    color: white;
    background-color: inherit;
    cursor: pointer;
    padding: 5px 10px;
}



.login-box button:hover {
    color: #ddd;

}


.login-box a {
    color: white;
    /* background-color: white; */
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    font-weight: bold;

}

.login-box a:hover {
    color: #ddd;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    
}

.tab button:hover {
    /* border: 3px solid cornflowerblue; */
    /* background-color: whitesmoke; */
    background-color: #ddd;


}

/* Create an active/current tablink class */
.tab button.active {
    /* border:3px solid cornflowerblue; */
    background-color: #ccc; 
}

.js-tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    background-color: #f1f1f1;

  }



/* Add to local contacts CSS directory */

.contact-search-form {
    /* border:2px solid black; */
    text-align: center;
    /* display: inline-block; */
}

.contact-search-form input {
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    

}

.contact-search-form .CharField {
    background-color: white;
    color: black;
}

.contact-search-form .ChoiceField {
    background-color: white;
    padding: 10px 20px;
    display: inline-block;
}





.new-contact-form {
    display: inline-block;
    font-size: small;
    text-align: right;
    margin-left: 35vw;
    padding-right:25px;
    padding-left: 25px;
}

.new-org-form {
    display: inline-block;
    font-size: small;
    text-align: right;
    margin-left: 35vw;
    padding-right:25px;
    padding-left: 25px;
}

.new-product-form {
    display: inline-block;
    font-size: small;
    text-align: right;
    margin-left: 35vw;
    padding-right:25px;
    padding-left: 25px;
}


.edit-contact-form {
    display: inline-block;
    font-size: small;
    text-align: right;
    margin-left: 35vw;
    padding-right:25px;
    padding-left: 25px;

}


.user-info {
    /* display: inline-block; */
    /* margin-left: 35vw; */
    /* text-align: center; */
    /* color: cornflowerblue; */
}



table {
    /* border:2px solid blue; */
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: gainsboro;
    /* cellpadding: 15px; */
    
    text-align: left;
    font-size:0.8em;
    table-layout: fixed;
    width: 100%;
}

/* Table header */
table tr:nth-child(0){
    background-color: ghostwhite;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

}

table tr:nth-child(even) {
    background: ghostwhite;
}

table th, td{
    padding: 5px;
}

table .button {
    font-size: smaller;
    font-style: normal;
    box-shadow: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border:none;
    margin:5px;
    padding:10px;

    border-radius: 25px;
    background-color: indigo;
}

table .button:hover {
    background-color: red;
    
}

table a{

    color: indigo;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
}

table a:hover {
    color: cornflowerblue;
}

.table-container {
    min-width:75vw;
    max-width:75vw;
    overflow: auto;
}

.table-form {
    /* border: 2px solid red; */
    display: inline-block;
    text-align: left;
}




#delete-contact-button {
    margin-top: 5px;
    margin-left: auto;
}


#delete-org-button {
    margin-top:25px;
    margin-left: auto;
}

#delete-product-button {
    margin-top: 25px;
    margin-left: auto;
}

#delete-entitlement-button {
    margin-top: 25px;
    margin-left: auto;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.account-info {
    font-family: Arial, Helvetica, sans-serif;
    width:fit-content;
    padding: 5px;
    /* margin-left:auto;
    margin-right:auto; */
}


.account-info h2{
    color: black;
    border-bottom: 1px solid black;
}

.account-info a{
    text-decoration: none;
    color: indigo;
}

.account-info a:hover{
    color: cornflowerblue;
}




.border-full {
    border:2px solid black;
}

.fit-content {
    width:fit-content;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.right-block {
    margin-right:0px;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.center-padding {
    /* padding-left: auto; */
    /* padding-right: auto; */
    padding: 0 calc(50% - 75vw);

}
