
#UserTitleContainer{
  border:2px solid black;
  padding: 10px 20px;
  display:inline-block;
  text-align: left;
}

#GenLicenseContainer {
  border: 2px solid black;
  padding: 10px 20px;
  /* margin: 5px; */

}

#LicenseContainer{
  border:2px solid black;
}


#form1{
  display:inline-block;

}

#widget1{
  display:inline-block;

}

/* Override nth-child with number 
   of columns in table for curved 
   borders */

td:nth-child(1), th:nth-child(1){
    border-radius: 15px 0px 0px 15px;
  }
  
td:nth-child(3), th:nth-child(3){
    border-radius: 0px 15px 15px 0px;
  
  }