
/*  RAINBOXBOX */

/* Import file into html */
/* <link rel="stylesheet" type="text/css" href="path/to/rainbowbox.css"> */

/* rainbow styles */
.redBox{
    border:1px dotted red !important;
}

.orangeBox{
    border:2px dotted orange !important;
}

.yellowBox{
    border:3px dotted yellow !important;
}

.greenBox{
    border:4px dotted green !important;
}

.blueBox{
    border:5px dotted blue !important;
}

.indigoBox{
    border:6px dotted indigo !important;
}

.violetBox{
    border:7px dotted violet !important;
}

/* Other styles */
.whiteBox{
    border:2px solid white !important;
}
border: 7px dotted violet !important;

.blackBox{
    border:2px solid black !important;
}

