
/*            */
/* Page Style */
/*            */

body {
    /* border: 2px black; */
    /* height: 100vh; */
    /* max-width: 100vw; */
    margin-left:50px;
    margin-right:50px;
    /* overflow: auto; */
    font-size: 14px;
    font-family: arial;
    background: white;

  }

a{
    background-color:white;
    color: black;
    border: 1px solid black;
    /* border-radius: 25px; */
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }

a:hover, a:active {
    background-color: whitesmoke;
}

input{
  background-color:white;
  color: black;
  border: 1px solid black;
  text-align: left;
  padding:10px 20px;
  text-decoration: none;

}

input:hover, input:active{
  background-color: whitesmoke;
}

button {
    background-color:white;
    color: black;
    border: 1px solid black;
    /* border-radius: 24px; */
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    /* display: inline-block; */
}

button:hover, button:active {
    background-color: whitesmoke;
  }

input.button {
    background-color:white;
    color: black;
    border: 1px solid black;
    /* border-radius: 24px; */
    text-align: center;
    padding: 10px 20px;
    /* margin: 5px; */
    text-decoration: none;
    display: inline-block;
    /* cursor: pointer; */
  }

input.button:hover, input.button:active {
    background-color: whitesmoke;
  }

select{
  background-color:white;
  color: black;
  border: 1px solid black;
  text-align: left;
  padding:10px 20px;
  text-decoration: none;
}

select:hover, select:active {
  background-color: whitesmoke;
}


/*            */
/* Tab Styles */
/*            */

/* Style the tab container */
.tab {
    /* border: 2px solid black; */
    width:fit-content;
    height: fit-content;
    overflow: hidden;
  }

/* Style the tab buttons */
.tab button {
    /* background-color: inherit; */
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
  }

/* Create an active/current tablink class */
.tab button.active {
  /* border-bottom: 1px solid black; */
  background-color: whitesmoke;
  }

.tab button.hover {
  /* border-bottom: 1px solid black; */
  background-color: whitesmoke;
}


  /* Control active tab content for pages */
.js-tabcontent {
    display: none;
  }




/*                */
/*  Login styles  */
/*                */

.login-container{
  margin-top: 10%;
  margin-left:35%;
  /* border-left: 1px solid blue; */
  border-left: 1px solid black;
  width:fit-content;
}


/*            */
/* Nav styles */
/*            */

.app-banner{
  padding:5px;
  border-bottom: 1px solid black;
  /* background-image: linear-gradient(blue, black); */
}

/* Style navigation links */
.navigation-buttons a{
  border: none;
}

/* Style naviation links */
.navigation-buttons a:hover{
  background-color: whitesmoke;
}

/* Style the navigation row */
.nav-row{
  display: flex;
  flex-direction: row;
  margin-left:auto;
  width:fit-content;
  height: fit-content;
  overflow: hidden;
}




/*                 */
/* Homepage styles */
/*                 */

/* Style the homepage header */
.site-header{
  align-items: center;
  height: 50px;
  /* border:2px solid black; */
}

#org-logo {
  width:50%;
} 


/*                   */
/* Form field styles */
/*                   */

/* Style choice field box */
.ChoiceField{
  background-color:white;
  /* border:none; */
  /* border-radius: 15px; */
  text-align: center;
  padding: 10px 20px;
  margin: 5px;

  /* text-decoration: none; */
  /* display: inline-block; */
}

.ChoiceField:hover, .ChoiceField:active {
  background-color: whitesmoke;
}

/* Style char field box */
.CharField{
background-color:white;
color: black;
/* border: none; */
/* border-radius: px; */
text-align: left;
padding: 10px 20px;
margin: 5px;
}

.CharField:hover, .CharField:active {
background-color: whitesmoke;
}



/*               */
/* Widget styles */
/*               */

/* Style the widget border */
.widget-box{
  /* border:none; */
  /* outline:none; */

  /* width:fit-content; */
  /* block-size: fit-content; */
  /* border:none; */
  /* border:2px solid darkgray; */
  /* border-radius: 15px; */
  /* padding: 5px; */
  /* background-color: lightgray; */
  /* background-image: linear-gradient(to bottom right, darkgray,whitesmoke); */
}

/* Style the widget buttons */
.widget-box .CharField{
  /* border:none; */
  /* border:1px solid black; */
  /* border-radius: 15px; */
  /* outline:none; */
}

.widget-box .ChoiceField{
  /* border:none; */
  /* border: 1px solid black; */
  /* border-radius: 15px; */
  /* outline:none; */
}

.widget-box input{
  /* border:none; */
  /* border:1px solid black; */
  /* border-radius: 15px; */
  /* outline:none; */
}

.widget-box a{
  /* border:none; */
  /* border:1px solid black; */
  /* border-radius: 15px; */
  /* outline:none; */
}

.widget-box button{
  /* border:none; */
  /* border:1px solid black; */
  /* border-radius: 15px; */
  /* outline:none; */
}



/* Block container styles */

.widget-container{
  /* border:none; */
  /* border-radius: 15px; */
  /* outline:none; */
  /* background-color: lightgray; */
}

.widget-container a{
  /* border:none; */
  /* border-radius: 15px; */
  /* outline:none; */

}

.widget-container input{
  /* border:none; */
  /* border-radius: 15px; */
  /* outline:none; */

}


/*              */
/* Table styles */
/*              */

/* Table border radius added to app-specific css files due to different column numbers  */


table {
  border-spacing: 0em 1em;
  max-width: 75%;
  text-align:left;
  overflow-y:auto;
  padding:1em;
}


tr:nth-child(1){
    background-color: darkgray;
    color: inherit;
}

  th{
    padding:1em;

  }

td{
  background: lightgray;
  color: black;
  padding:1em;
  
}

.table-scroll{
  max-height: 75vh;
  max-width: 75vw;
  overflow: auto;
}


/*                         */
/* Generic flexbox classes */
/*                         */

.flex-container{
  display:flex;
  /* border:2px solid blue; */
  flex-direction: column;
  padding:5px;
}

.flex-box{
  display:flex;
  flex-direction: column;
  width:fit-content;
  block-size: fit-content;
  padding:5px;
}

.text-container{
  /* border:2px solid Black; */
  padding:5px;
  display:block;
  width:fit-content;
  height: fit-content;
  text-align: center;
}

/* Generic styling classes */

.border-full{
  border: 1px solid black;
}

.border-top{
  border-top: 1px solid black;
}

.border-bottom{
  border-bottom: 1px solid black;
}

.border-left{
  border-left: 1px solid black;
}

.flex-row{
flex-direction: row;
}

.flex-center{
  align-items: center;
  justify-content: center;
}

.flex-left{
  justify-content: left;
}

.left-text{
  text-align:left;
}

.center-text{
  text-align:center;
}

