
html, body {
    /* border: 2px solid blue; */
    /* height: 100%; */
    min-height: 100%;
    overflow-x: hidden;
    margin:0;
}

main {
    /* border:2px solid red; */
    margin-bottom: 50px;
    
}


h1, h2, h3 {
    color: cornflowerblue;
}


header {
    padding: 5px;
    margin-bottom: 75px;
}

.org-logo {
    display: block;
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  } 



/* Add this class to a div inside of main if showing
  info border and make sure margin-left is set to info-box width */
.info-border {
    /* border:3px solid orange; */
    margin-left:230px;
    height: 100%;
    min-height: 50vh;
    border-left:3px solid cornflowerblue;

}


.info-box {
    /* border-right:3px solid cornflowerblue; */
    float:left;
    min-height: 100%;
    /* display: inline-block; */
    /* max-height: 100vh; */
    /* min-height: 100vh; */
    width: 200px; 
    overflow: hidden;
    padding-right: 15px;
    padding-left: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top:25px;
    padding-bottom:50px;
    /* text-align:center; */


}

.info-box h3 {
    text-align:center;
    /* color: cornflowerblue; */
    /* margin-top:75px; */

}


/* Foot wrap and footer min-height should equal 100 */
.foot-wrap {
    /* border: 5px solid green; */
    min-height: 80vh;

}

footer {
    background-color: indigo;
    /* margin-top:75px; */
    width: 100%;
    height: 20vh;
    text-align: center;
}

footer ul {
    /* margin-top: 125px; */
    padding-top: 50px;
}

footer li {
    /* margin-top:25px; */
    display: inline;
}

footer a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin:5px;
    padding:0px;
}
  

.login-box {
    background-color: cornflowerblue;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin:5px;
    padding: 25px;
    width: 325px;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10%;
}

.login-box a {
    background-color: white;
}



.nav-row {
    /* border:2px solid black; */
    padding: 0;
    margin:0;
    list-style-type: none;
    text-align: right;
    
}

.nav-row li {
    display: inline;
    margin:5px;

}




.js-tabcontent {
    display: none;
  }


.tab {
    /* border:1px solid black; */
    background-color: inherit;
    overflow:hidden;
    margin-bottom: 50px;    
    text-align: center;
}


.tab button {
    border: 3px solid white;
    background-color: white;    
    color:cornflowerblue;
    font-size:larger;
    float: center;
    outline:none;
    padding: 10px 20px;
    /* margin: 15px; */
    cursor: pointer;
    
}

.tab button:hover {
    /* border: 3px solid cornflowerblue; */
    background-color: whitesmoke;

}

/* Create an active/current tablink class */
.tab button.active {
    border:3px solid cornflowerblue;
  
}





.entitlement-creation-form {
    /* border:2px solid black; */
    font-size: small;
    text-align: right;
    padding:0;
    margin:15px;
    display:inline-block;
    /* margin-right: auto; */
    margin-left: 35%;
}

.entitlement-creation-form p {
    padding:0;
    margin:2px;
}



.entitlement-creation-form .CharField {
    padding: 200px 20px;
}


/* Add to local contacts CSS directory */

.contact-search-form {
    /* border:2px solid black; */
    text-align: center;
    /* display: inline-block; */
}

.contact-search-form input {
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    

}

.contact-search-form .CharField {
    background-color: white;
    color: black;
}

.contact-search-form .ChoiceField {
    background-color: white;
    padding: 10px 20px;
    display: inline-block;
}




.license-choice-form .ChoiceField {
    padding: 10px 20px;
    /* display: inline-block; */
}



.new-contact-form {
    display: inline-block;
    font-size: small;
    text-align: right;
    margin-left: 35vw;
    padding-right:25px;
    padding-left: 25px;
}

.new-org-form {
    display: inline-block;
    font-size: small;
    text-align: right;
    margin-left: 35vw;
    padding-right:25px;
    padding-left: 25px;
}

.new-product-form {
    display: inline-block;
    font-size: small;
    text-align: right;
    margin-left: 35vw;
    padding-right:25px;
    padding-left: 25px;
}


.edit-contact-form {
    display: inline-block;
    font-size: small;
    text-align: right;
    margin-left: 35vw;
    padding-right:25px;
    padding-left: 25px;

}

.user-info {
    /* display: inline-block; */
    /* margin-left: 35vw; */
    text-align: center;
    color: cornflowerblue;
}


.edit-entitlement-form {
    display: inline-block;
    font-size: small;
    text-align: right;
    margin-left: 35vw;
    padding-right:25px;
    padding-left: 25px;

}



.button {
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    cursor: default;

}


.button:hover {
    background-color: indigo;
}




table {
    /* border:2px solid blue; */
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: gainsboro;
    
    text-align: left;
    font-size:0.9em;
    margin-left: auto;
    margin-right: auto;
    min-width:25%;
    margin-top: 50px;
}

/* Table header */
table tr:nth-child(0){
    background-color: ghostwhite;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

}

table tr:nth-child(even) {
    background: ghostwhite;
}

table .button {
    font-size: smaller;
    font-style: normal;
    /* font-family: Arial, Helvetica, sans-serif; */
    box-shadow: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border:none;
    margin:5px;
    padding:10px;

    border-radius: 25px;
}



/* #contact-table .button {
    margin-left: 220px;
    border:2px solid black; */
/* } */

#delete-contact-button {
    margin-top: 25px;
    margin-left: 115px;
    /* display: inline-block; */
    /* border:5px solid cornflowerblue; */
}


#delete-org-button {
    margin-top:25px;
    margin-left: 115px;
    /* display: inline-block;
    border:5px solid blue; */
}

#delete-product-button {
    margin-top: 25px;
    margin-left: 115px;
}

#delete-entitlement-button {
    margin-top: 25px;
    margin-left: 115px;
    /* display: inline-block;
    border:5px solid blue; */
}



.button-padding {
    margin: 25px;
    margin-left: 375px;
    /* border:2px solid red; */

}



.account-info {
    display:inline-block;
    margin-left:10%;
    /* border:2px solid blue; */
}




.border-full {
    border:2px solid black;
}

.fit-content {
    width:fit-content;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.right-block {
    margin-right:0px;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

