<!-- templates/manage_licenses/manage-licenses.html -->
{% extends "base.html" %}

{% block title %}Manage Licenses{% endblock title %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_licenses/css/style.css' %}">
<script src="{% static "manage_licenses/js/script.js" %}"></script>
{% endblock head %}

{% block header %}
<div class="flex-box flex-row container">
    
  <div class="tab">
    <button class="js-tablinks" id="js-default-open" onclick="changePage(event, 'licenses-tab')">My licenses</button>
    <button class="js-tablinks" onclick="changePage(event, 'products-tab')">My products</button>
  </div>

  <div class="h-center">
    <p>Welcome {{ user.username }}</p>
  </div>

  <div>
    <p>
    <a href="{% url 'manage_contacts' %}">Contacts</a>
    <a href="{% url 'admin_dash' %}">Admin</a>
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'logout' %}">Log Out</a>
    </p>
  </div>

</div>


{% endblock header %}

{% block logocontainer %}{% endblock logocontainer %}

{% block main %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="licenses-tab" class="js-tabcontent">

    <p class="container">
    This screen displays the licenses for the entire Organization. If you want to view associated products, 
    click on 'View my products' menu item above.
    </p>
    <h1 class="center-text">Manage Licenses</h1>


      <div class="h-center">

      <div class="widget">
        <form method="post">
        {% csrf_token %}
        {{ new_license_form }}
        <p><input class="button" name="save-license" type="submit" value="New License"></p>
        </form>
      </div>

        <form id="generate-license-form" method="post">
          {% csrf_token %}
          
            <table id="license-table">
              <thead>
                <tr> 
                  <th></th>
                </tr>
              </thead>
            </table>

          <div class="h-center">
            <p>
            <input type="button" name="delete_license_button" id="delete-license-button" value="Delete">
            <input type="submit" name="download-license-button" id="download-license-button" value="Download">
            </p>
          </div>

        </form>
      </div>

</div>





<div id="products-tab" class="js-tabcontent">

    <b><p class="center-text">Entitlements</p></b>

    <div>
      <table id="entitlement-table">
        <thead>
          <tr> 
            <th></th>
          </tr>
        </thead>
      </table>
    </div>

</div>
{% endblock main%}

{% block footer %}{% endblock footer %}