<!-- templates/manage_licenses/manage-licenses.html -->

{% extends "base.html" %}
{% block title %}Manage Licenses{% endblock title %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_licenses/css/style.css' %}">
<script src="{% static "manage_licenses/js/script.js" %}"></script>
{% endblock head %}

{% block banner %}
<div class="tab">
<button class="tablinks" id="defaultOpen" onclick="change_page(event, 'Licenses')">Manage my licenses</button>
<button class="tablinks" onclick="change_page(event, 'Products')">View my products</button>
</div>
{% endblock banner %}

{% block leftcontainer %}{% endblock leftcontainer %}

{% block main %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2 class="titleContainer"> Manage Licenses </h2>

<div id="Licenses" class="tabcontent">
<script>document.getElementById("defaultOpen").click();</script>  

  <div class="blockContainer"/>

  <div id="widget1" class="blockWidget">
    <form id="form1" method = "GET">
      {{ search_form }}
      <input class="button" type="submit" value="Search Products"/>
    </form>

    <form id="form1" method="get">
    {% csrf_token %}
    <input class="button" type="submit" name="clear_search" value="Clear Search"/>
    </form>
  </div>

  <form id="form1" class="blockWidget" method = "GET">
    {{ product_form }}
    <input class="button" type="submit" value="Generate License"/>
  </form>
  
  </div>

  <div class="blockContainer">
  <h2> Licenses </h2>

  <table> 
  <tr>
    <th>Product Name</th>
    <th>License access code</th> 
    <th>Allocated</th>
  </tr>

  {% for entitlement in entitlement_list %}
  <tr>
    <td>{{ entitlement.product_name }}</td>
    <td>{{ entitlement.access_code }}</td>
    <td>{{ entitlement.num_allocated }} </td>
  </tr>
  {% endfor %} 

  </table>
  </div>
</div>

<div id="Products" class="tabcontent">

  <div class=blockContainer>
    <h2 class="textWidget"> my products </h2>
  </div>

  <div class="blockWidget">
  {% for entitlement in entitlement_list %}
    <p class="textWidget">{{ entitlement.product_name }}</p>
  {% endfor %}
  </div>

</div>

<div class=logoutBox>
<p><a href="{% url 'homepage' %}">Home</a></p>
<a href="{% url 'logout' %}">Logout</a>
</div>

{% endblock main%}