<!-- templates/manage_licenses/manage-licenses.html -->

{% extends "base.html" %}
{% block title %}Manage Licenses{% endblock title %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_licenses/css/style.css' %}">
<script src="{% static "manage_licenses/js/script.js" %}"></script>
{% endblock head %}

{% block banner %}
<div id="app-banner" class="block-container">
  <div class="tab">
  <button class="js-tablinks" id="js-default-open" onclick="changePage(event, 'licenses-tab')">My licenses</button>
  <button class="js-tablinks" onclick="changePage(event, 'products-tab')">My products</button>
  </div>
</div>
{% endblock banner %}

{% block leftcontainer %}{% endblock leftcontainer %}

{% block main %}
<div class="title-container">
<h2 class="text-container"> Manage Licenses </h2>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="licenses-tab" class="js-tabcontent">
  <script>document.getElementById("js-default-open").click();</script>  

  <div class="block-container">
    <p id="contact-page-info" class="text-container">
    This screen displays the licenses for the entire Organization. If you want to view associated products, 
    click on 'View my products' menu item above.
    </p>
  </div>

  <div class="block-container">
    <h3 class="text-container">Filter licenses Using the Fields Below</h3>

    <div class="block-widget">
      <form class="block-widget" method = "GET">
        {{ product_form }}
        <input class="button" type="submit" value="Generate License"/>
      </form>

      <div class="block-widget">
        <form method = "GET">
          {{ search_form }}
          <input class="button" type="submit" value="Search Products"/>
        </form>

        <form method="get">
        {% csrf_token %}
        <input class="button" type="submit" name="clear_search" value="Clear Search"/>
        </form>
      </div>
    </div>
  </div>

  <div class="block-container">
    <h2> Licenses </h2>

    <table> 
      <tr>
        <th>Product Name</th>
        <th>License access code</th> 
        <th>Allocated</th>
      </tr>

      {% for entitlement in entitlement_list %}
        <tr>
          <td>{{ entitlement.product_name }}</td>
          <td>{{ entitlement.access_code }}</td>
          <td>{{ entitlement.num_allocated }} </td>
        </tr>
      {% endfor %} 
    </table>
  </div>
</div>

<div id="products-tab" class="js-tabcontent">
  <div class="block-container">
    <div class=block-widget>
      <h2 class="text-container"> my products </h2>
    </div>

    <div class="block-widget">
    {% for entitlement in entitlement_list %}
      <p class="text-container">{{ entitlement.product_name }}</p>
    {% endfor %}
    </div>
  </div>
</div>

<div id="logout-container" class="block-container">
<p><a href="{% url 'homepage' %}">Home</a></p>
<a href="{% url 'logout' %}">Logout</a>
</div>

{% endblock main%}