
/*                          */
/* Override base css styles */
/*                          */

/* Style the New Contact button */
#NewContactButton{
  border:2px solid black;
  display:inline-block;
  /* margin-left:90%; */
  /* margin:10px; */
 }

#pageInfo{
  display:inline-block;
  width: 75%;
  text-align: left;
}

/* Style the contact creation widget box */
#ContactCreationWidget{
  width: 75%;
  padding:5px;
  text-align: left;
}

/* Style the contact creation widget items */
#ContactCreationWidget p{
  border:2px solid black;
  padding:5px;
  display: inline-block;
}

/* Override nth-child with number 
   of columns in table for curved 
   borders */

td:nth-child(1), th:nth-child(1){
  border-radius: 15px 0px 0px 15px;
}

td:nth-child(9), th:nth-child(9){
  border-radius: 0px 15px 15px 0px;

}
