<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
    {% block head %}{% endblock head %}
    <title>{% block title %}Name of Page{% endblock title %}</title>
    {% load static %}
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="{% static '/css/licensepgm/style.css' %}">
  </head>

  <body>
    
    {% block banner %}
    <div class="flex-container">
    <h1 class="text-container">LICENSEPGM</h1>
    </div>
    {% endblock banner %} 

    {% block logocontainer %}
    <div class="flex-container flex-row">
    <div id="logo-container" class="flex-widget">
    <img src="{% static 'images/licensepgm/logo-generic.svg' %}" id="org-logo" alt="Generic logo"/>
    </div>
    {% endblock logocontainer %}
      
    <main>
      {% block main %}{% endblock main %}
    </main>

  </body>

</html>