<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>

  <head>
    {% block head %}{% endblock head %}
    <title>{% block title %}Name of Page{% endblock title %}</title>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static '/css/licensepgm/style.css' %}">
    
    {% comment %} Delete this to get rid of rainbowBox! {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static "css/licensepgm/rainbowbox.css" %}">
    
  </head>

  <body>

    {% block page %}
    <div class="page">
    
    {% block banner %}
    <header id="homeBanner"> 
    <h1>LICENSEPGM</h1>
    </header>
    {% endblock banner %} 

    {% block leftcontainer %}
    <div id="leftContainer">
    <img src="{% static 'images/licensepgm/logo-generic.svg' %}" id="orgLogo" alt="Generic logo"/>
    </div>
    {% endblock leftcontainer %}

    <main>
    {% block main %}{% endblock main %}
    </main>

    </div>

  {% endblock page %}
  </body>

</html>