<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Name of Page{% endblock title %}</title>
    {% load static %}
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">  
      
    <link rel="stylesheet" type="text/css" href="{% static '/css/licensepgm/style.css' %}">
    <script src="{% static '/js/licensepgm/script.js' %}"></script>
    {% block head %}{% endblock head %}
  </head>

  <body>  
    <div class="foot-wrap">

      <header>
      {% block header %} 
        <img src="{% static 'images/licensepgm/automai.svg' %}" class="org-logo" alt="Generic logo"/>
                
        <ul class="nav-row">
          {% comment %} <li><a href="{% url 'client_portal' %}">Clients</a></li>
          <li><a href="{% url 'admin_portal' %}">Admin</a></li> {% endcomment %}
          <li><a href="{% url 'manage_contacts' %}">Home</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>

      {% endblock header %}  
      </header>

        {% block logincheck %}
        {% if user.is_authenticated %}

                        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
          
        {% block infobox %}           
          
          <div class="info-box">
              <h3>Useful articles</h3>
              <p>Lorem Ipsum<p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>

          {% endblock infobox %} 
        
        <main class="main">

        {% block main %}

        <div class="info-border">
        
        </div>

        {% endblock main %}      
        </main>

        {% else %}
          <div class="fit-content center-text center-block">
          <p>You are not logged in.</p>
          <a href="{% url 'login' %}">Log In</a>
          </div>
        {% endif %}
        {% endblock logincheck %}  

    </div>

    <footer>
     {% block footer %}

        <ul>
          <li><a href="https://help.automai.com/">Knowledge base</a></li>
          <li><a href="https://community.automai.com/">Community</a></li>
          <li><a href="mailto: sales@automai.com">Email sales</a></li>
          <li><a href="https://help.automai.com/s/contactsupport">Open a ticket</a></li>
        </ul>

      {% comment %} <p> -    -    -  Open a ticket</p> {% endcomment %}
    {% endblock footer %}
    </footer>

  </body>

</html>