<!-- templates/homepage.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

 {% block header %}
<div class="flex-box flex-row container">
  <img src="{% static 'images/licensepgm/logo-generic.svg' %}" class="org-logo" alt="Generic logo"/>
      <h3 class="h-center">Welcome to LicensePGM</h3>
  
    <p>
      <a href="{% url 'manage_contacts' %}">Contacts</a>
      <a href="{% url 'manage_licenses' %}">Licenses</a>
      <a href="{% url 'admin_dash' %}">Admin</a>      
      <a href="{% url 'logout' %}">Log Out</a>
    </p>

  </div>
</div>
{% endblock header %}

{% block main %}

    <div class="flex-box fit-width flex-column">
        <a href="{% url 'info' %}">More Info</a>
    </div>
{% endblock main %}