<!-- templates/homepage.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

 {% block header %}
<div class="flex-box flex-row">

  <img src="{% static 'images/licensepgm/automai.svg' %}" class="org-logo" alt="Generic logo"/>
      <p class="center-text h-center"></p>
  
    <p>
      <a href="{% url 'manage_contacts' %}">Contacts</a>
      <a href="{% url 'manage_licenses' %}">Licenses</a>
      <a href="{% url 'admin_dash' %}">Admin</a>      
      <a href="{% url 'logout' %}">Log Out</a>
    </p>

  </div>
</div>
{% endblock header %}

{% block main %}
  <div class="h-center">
    <b><p class="center-text">Welcome to</p></b>
    <h1 class="center-text h-center">LicensePGM</h1>
    <p class="fit-width h-center color-block"><a href="{% url 'info' %}">More Info</a></p>
  </div>
{% endblock main %}