<!-- templates/info.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block main %}
  {% if user.is_authenticated %}
  
  {% block header %}  {% endblock header %}

  <header class="app-header flex-container flex-row">  
    
    <div class="flex-widget">
    <img src="{% static 'images/licensepgm/logo-generic.svg' %}" id="org-logo" alt="Generic logo"/>
    </div>
      
    <div class="nav-row navigation-buttons">
      <p><a href="{% url 'logout' %}">Log Out</a></p>
    </div>
  </header>

<div class="flex-box widget-box flex-center">
  <h3>Welcome to LicensePGM</h3>
  <p>A tool for generating product licenses</p>
  <p><a href="{% url 'homepage' %}">Home</a></p>
</div>

  {% else %}
  <div class="flex-box widget-box">
    <p>You are not logged in.</p>
    <p><a href="{% url 'login' %}">Log In</a></p>
  </div>
  {% endif %}

{% endblock main %}