<!-- templates/info.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}
  
  {% block header %}  
  <div class="flex-box flex-row">   
    <img src="{% static 'images/licensepgm/automai.svg' %}" class="org-logo" alt="Generic logo"/>
    
    <div class="align-right">
      <p>
      <a href="{% url 'homepage' %}">Home</a>
      <a href="{% url 'logout' %}">Log Out</a>
      </p>
    </div>
  </div>
  {% endblock header %}

{% block main %}

<div class="flex-box flex-center">
  <div class="card">
  <h3><a href="{% url 'manage_contacts' %}">Contacts</a></h3>
  
  <p>Use 'Manage Contacts' to create or update user info.</p>
  </div>

  <div class="card">
  <h3><a class="" href="{% url 'manage_licenses' %}">Licenses</a></h3>
  <p>Use 'Manage Licenses' to create or download product licenses</p>
  </div>

  <div class="card">
  <h3><a href="{% url 'admin_dash' %}">Admin</a></h3>
  <p>Automai administrators can access the admin page to create, edit, or delete organizations, products, and product entitlements.</p>
  </div>
</div>


{% endblock main %}