<!-- templates/manage_contacts/manage-contacts.html -->

{% extends "base.html" %}
{% block title %}Add Contact{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
{% endblock head %}

{% block infobox %}{% endblock infobox %}

{% block header %}{% endblock header %}

{% block main %}

{% comment %} {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endcomment %}

  {% if contact_data.role == "admin" %}

      <h2 class="center-text">Add User</h2>
      <form id="new-contact-form" class="new-contact-form" method="post">
        {% csrf_token %}
        {{ contact_form.as_p }}     
        {% if contact_org.org_name == "automai" %}
          <label>Organization:</label>
          <select name="select_org">
            {% for choice in choice_list %}
              <option value="{{ choice }}">{{ choice }}</option>
            {% endfor %}
          </select>
        {% endif %}
        <p><input class="button" type = "submit" value = "Submit"/></p>
      </form> 

  {% else %}
    <p>Not authorized. ({{ contact_data.role }}) </p>
  {% endif %}

<div>
  <p>
  <a href="{% url 'manage_contacts' %}">Back</a>
  {% comment %} <a href="{% url 'homepage' %}">Home</a> {% endcomment %}
  <a href="{% url 'logout' %}">Logout</a>
  </p>
</div>
{% endblock main %}

{% block footer %}{% endblock footer %}
