<!-- templates/manage_contacts/manage-contacts.html -->

{% extends "base.html" %}
{% block title %}Add Contact{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
{% endblock head %}

{% block infobox %}{% endblock infobox %}

{% block header %}
<ul class="nav-row" "border-full">
  <li><a href="{% url 'manage_contacts' %}">Back</a></li>
  <li><a class="" href="{% url 'logout' %}">Log Out</a></li>
</ul>
{% endblock header %}

{% block main %}

  {% if contact_data.role == "admin" %}

      <h3 class="center-text">Add Contact</h3>
      <form id="new-contact-form" class="new-contact-form" method="post">
        {% csrf_token %}
        {{ contact_form.as_p }}
        {% if contact_data.organization.org_name == super_org %}
          <label>Organization:</label>
          <select name="select_org">
            {% for choice in choice_list %}
              <option value="{{ choice }}">{{ choice }}</option>
            {% endfor %}
          </select>
          {% endif %}  
        <p><input class="button" type = "submit" value = "Submit"/></p>
      </form> 

  {% else %}
    <p>Not authorized. ({{ contact_data.role }}) </p>
  {% endif %}

{% endblock main %}

{% block footer %}{% endblock footer %}
