<!-- templates/manage_contacts/add-product.html -->
{% extends "base.html" %}
{% block title %}Add Product{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
<script src="{% static "manage_contacts/js/script.js" %}"></script>

{% endblock head %}

{% block header %}{% endblock header %}

{% block infobox %}{% endblock infobox %}


{% block main %}

{% comment %} {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endcomment %}

      <h2 class="center-text">Product Versions</h2>


  <form class="new-product-form" method="post">
      {% csrf_token %}
      <div>
        {{ product_form.as_p }}
      </div>
      <input class="button" type = "submit" value = "Create" name="newForm"/>
  </form>

  <form>
        <table id="product-table">
          <thead>
            <tr> 
              <th></th>
            </tr>
          </thead>
        </table>
        <p><input type="button" class="button" name="delete_product_button" id="delete-product-button" value="Delete"></p>
    </form>


<div>
  <p>
  <a href="{% url 'manage_contacts' %}">Back</a>
  <a href="{% url 'homepage' %}">Home</a>
  <a href="{% url 'logout' %}">Logout</a>
  </p>
</div>
{% endblock main %}