<!-- templates/manage_contacts/add-organization.html -->
{% extends "base.html" %}
{% block title %}Add Organization{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
<script src="{% static "manage_contacts/js/script.js" %}"></script>

{% endblock head %}

{% block header %}{% endblock header %}

{% comment %} {% block logocontainer %}{% endblock logocontainer %} {% endcomment %}

{% block infobox %}{% endblock infobox %}

{% block main %}
<h1 class="box">Add organization</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <form method="post">
      {% csrf_token %}
      <div>
        {{ org_form.as_p }}
      </div>
        <input class="button" type = "submit" value = "Create" name="newForm"/>
    </form>

    <form>
      <table id="org-table">
        <thead>
          <tr> 
            <th></th>
          </tr>
        </thead>
      </table>
      <p><input type="button" class="button" name="delete_org_button" id="delete-org-button" value="Delete"></p>
    </form>

<p>
<a href="{% url 'manage_contacts' %}">Back</a>
<a href="{% url 'homepage' %}">Home</a>
<a href="{% url 'logout' %}">Logout</a>
</p>
{% comment %} </div> {% endcomment %}
{% endblock main %}