<!-- templates/manage_contacts/add-organization.html -->
{% extends "base.html" %}
{% block title %}Add Organization{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
{% endblock head %}

{% block header %}{% endblock header %}

{% block logocontainer %}{% endblock logocontainer %}

{% block main %}
<h1 class="box">Add organization</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  <div class="widget">
    <form method="post">
      {% csrf_token %}
      <div class="flex-box widget">
        {{ org_form.as_p }}
      </div>
        <input class="button" type = "submit" value = "Create" name="newForm"/>
    </form>
  </div>

<div class="widget">

<p>
<a href="{% url 'admin_dash' %}">Return</a>
<a href="{% url 'homepage' %}">Home</a>
<a href="{% url 'logout' %}">Logout</a>
</p>
</div>
{% endblock main %}