<!-- templates/manage_contacts/admin-dash.html -->
{% extends "base.html" %}
{% block title %}Add Organization{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
<script src="{% static "manage_contacts/js/script.js" %}"></script>
{% endblock head %}

{% block header %}
<div class="flex-box flex-row">

  <div class="tab">
    <button class="js-tablinks" id="js-default-open" onclick="changePage(event, 'organizations-tab')">Organizations</button>
    <button class="js-tablinks" onclick="changePage(event, 'products-tab')">Products</button>
    <button class="js-tablinks" onclick="changePage(event, 'entitlements-tab')">Entitlements</button>
  </div>

   <div class="center-text h-center">
    <p></p>
  </div>
  
  <div>
    <p>
      <a href="{% url 'manage_contacts' %}">Contacts</a>
      <a href="{% url 'manage_licenses' %}">Licenses</a>
      <a href="{% url 'homepage' %}">Home</a>
      <a href="{% url 'logout' %}">Log Out</a>
    </p>
  </div>
</div>

{% endblock header %}

{% block logocontainer %}{% endblock logocontainer %}

{% block main %}
{% if user_org == "automai" and user_role == "admin" %}

<div class="container">
    <h1 class="center-text">Admin Dash</h1>

    <p class="center-text">
    Automai admin can add products, organizations, and entitlements
    </p>
    <br>
  </div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="organizations-tab" class="js-tabcontent">
    

      <div class="widget h-center">
        <p class="left-text box"><a href="{% url 'add_organization' %}">Add Organization</a></p>

        <form>
            <table id="org-table" class="widget">
              <thead>
                <tr> 
                  <th></th>
                </tr>
              </thead>
            </table>
            <p><input type="button" name="delete_org_button" id="delete-org-button" value="Delete"></p>
        </form>
      
      </div>

</div>


<div id="products-tab" class="js-tabcontent">

  <div class="widget h-center">
    <p class="left-text box"><a href="{% url 'add_product' %}">Add Product</a></p>

    <form>
        <table id="product-table" class="widget">
          <thead>
            <tr> 
              <th></th>
            </tr>
          </thead>
        </table>
        <p><input type="button" name="delete_product_button" id="delete-product-button" value="Delete"></p>
    </form>
  </div>
</div>


<div id="entitlements-tab" class="js-tabcontent">

  <div class="widget h-center">
        <p class="left-text box"><a href="{% url 'add_entitlement' %}">Add Entitlement</a></p>

    <form>
        <table id="entitlement-table" class="widget">
          <thead>
            <tr> 
              <th></th>
            </tr>
          </thead>
        </table>
        <p><input type="button" name="delete_entitlement_button" id="delete-entitlement-button" value="Delete"></p>
    </form>

  </div>

</div>

{% else %}
  <p>Not authorized.</p>
{% endif %}
{% endblock main %}

