<!-- templates/manage_contacts/manage-licenses.html -->
{% extends "base.html" %}

{% block title %}Manage Licenses{% endblock title %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
<script src="{% static "manage_contacts/js/script.js" %}"></script>
{% endblock head %}

{% block main %}
<div class="info-border">

  <div class="tab">
      <button class="js-tablinks" id="js-default-open" onclick="changePage(event, 'account-tab')">My Account</button>
      <button class="js-tablinks" id="js-default-open" onclick="changePage(event, 'products-tab')">Active Licenses</button>
      <button class="js-tablinks" onclick="changePage(event, 'contacts-tab')">Contacts</button>
  </div>

  <div id="account-tab" class="js-tabcontent">
    <h2>My Account:</h2>
    <p>Contact: {{ contact_data.user.username }}</p>
    <p>Role: {{ contact_data.role }}</p>
    <p>Company: {{ contact_data.organization }}</p>
    <p>ID: {{ contact_data.user.id }}</p>
      
    <p><a href="{% url 'password_change' %}">Change Password</a></p>

  </div>

  <div id="products-tab" class="js-tabcontent">

  <div class="center-text">
    <div class="table-form">
      <form method="post">
        {% csrf_token %}

        <div class="table-container">
          <table id="client-license-table">
            <thead>
              <tr> 
                <th></th>
              </tr>
            </thead>
          </table>
        </div>

        <p>
          <input class="button" name="download-license" type="submit" value="Download License">
        </p>  
      </form>

    </div>

  </div>


  </div>


<div id="contacts-tab" class="js-tabcontent">
  
  <div class="center-text">

    <div class="table-form">
      <form class="contact-search-form">
        <input id="contact-search-button" type="button" class="button" value="Search"/>
        {{ contact_search_form }}
        <input id="clear-contact-search" type="button" class="button" value="Clear"/>
      </form>

      <p class="button-padding"><a class="button" href="{% url 'add_contact' %}">Add Contact</a></p>
      <div class="table-container">
      <table id="contact-table">
        <thead>
          <tr> 
            <th></th>
          </tr>
        </thead>
      </table>
      </div>

    </div>


  </div>

</div>


</div>
{% endblock main%}