<!-- templates/manage_contacts/manage-licenses.html -->
{% extends "base.html" %}

{% block title %}Manage Licenses{% endblock title %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
<script src="{% static "manage_contacts/js/script.js" %}"></script>
{% endblock head %}

{% comment %} {% block infobox %}{% endblock infobox %} {% endcomment %}
{% block main %}
<div class="info-border">

  <div class="tab">
      <button class="js-tablinks" id="js-default-open" onclick="changePage(event, 'account-tab')">My Account</button>
      <button class="js-tablinks" onclick="changePage(event, 'products-tab')">Active licenses</button>
      <button class="js-tablinks" onclick="changePage(event, 'licenses-tab')">Generate new license</button>
  </div>

  <div id="account-tab" class="js-tabcontent">
    <h2>My Account:</h2>
    <p>Contact: {{ contact_data.user.username }}</p>
    <p>Company: {{ contact_data.organization }}</p>
    <p>ID: {{ contact_data.user.id }}</p>
  </div>

  <div id="products-tab" class="js-tabcontent">
    <b><p class="center-text">Entitlements</p></b>
    
    <table id="entitlement-table">
      <thead>
        <tr> 
          <th></th>
        </tr>
      </thead>
    </table>
  </div>

  <div id="licenses-tab" class="js-tabcontent">
    <h3 class="center-text">Licenses</h3>
    <form class="license-choice-form center-text" method="post">
      <input class="button" name="save-license" type="submit" value="Save">
      {% csrf_token %}
      {{ license_choice_form }}
    </form>
  </div>

</div>
{% endblock main%}