<!-- templates/manage_contacts/edit-contacts.html -->
{% extends "base.html" %}
{% block title %}Edit Contact{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
{% endblock head %}

{% block banner %}{% endblock banner %}

{% block logocontainer %}{% endblock logocontainer %}

{% block main %}
<h2 class="flex-container">Edit Contact</h2>

<div class="flex-container">
<p class="text-container">Edit your contact here. (In progress...)</p>
</div>

<div class="flex-container flex-row border-top navigation-buttons">
<p><a href="{% url 'manage_contacts' %}">Return</a></p>
<p><a href="{% url 'homepage' %}">Home</a></p>
<p><a href="{% url 'logout' %}">Logout</a></p>
</div>
{% endblock main %}

