<!-- templates/manage_contacts/add-organization.html -->
{% extends "base.html" %}
{% block title %}Edit Organization{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
<script src="{% static "manage_contacts/js/script.js" %}"></script>

{% endblock head %}

{% block header %}{% endblock header %}

{% block infobox %}{% endblock infobox %}

{% block main %}
<h2 class="center-text">Edit organization</h2>

{% comment %} {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endcomment %}

    <form class="new-org-form" method="post">
      {% csrf_token %}
      <div>
        {{ edit_org_form.as_p }}
      </div>
        <input class="button" type = "submit" value = "Save" name="newForm"/>
    </form>

<p>
<a href="{% url 'add_organization' %}">Back</a>
{% comment %} <a href="{% url 'homepage' %}">Home</a> {% endcomment %}
<a href="{% url 'logout' %}">Logout</a>
</p>

{% endblock main %}