<!-- templates/manage_contacts/manage-contacts.html -->

{% extends "base.html" %}
{% block title %}Edit Contact{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
{% endblock head %}

{% block infobox %}{% endblock infobox %}

{% block header %}
<ul class="nav-row" "border-full">
  <li><a href="{% url 'manage_contacts' %}">Back</a></li>
  <li><a class="" href="{% url 'logout' %}">Log Out</a></li>
</ul>
{% endblock header %}

{% block main %}


  
  {% if current_contact.role == "admin" %}

      <h3 class="center-text">Edit Contact</h3>
        {% comment %} <div class="user-info"> {% endcomment %}
        <p class="user-info">
        Username: {{ contact_selection.user.username }}
        -
        Role: {{ contact_selection.role }}
        -
        Email: {{ contact_selection.user.email }}
        -
        Org: {{ contact_selection.organization }}
        </p>
        {% comment %} </div> {% endcomment %}
      <form id="edit-contact-form" class="edit-contact-form" method="post">
        {% csrf_token %}
        {{ edit_contact_form.as_p }}
        {% if current_contact.organization.org_name == super_org %}
          <label>Organization:</label>
          <select name="select_org">
            {% for choice in choice_list %}
              <option value="{{ choice }}">{{ choice }}</option>
            {% endfor %}
          </select>
          {% endif %}  
        <p><input class="button" type = "submit" value = "Save"/></p>
      </form> 

  {% else %}
    <p>Not authorized.</p>
  {% endif %}

{% endblock main %}

{% block footer %}{% endblock footer %}
