<!-- templates/manage_contacts/manage-contacts.html -->
{% extends "base.html" %}

{% block title %}Manage Contacts{% endblock title %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
<script src="{% static "manage_contacts/js/script.js" %}"></script>
{% endblock head %}

{% block header %}

<div class="flex-box flex-row container">
  
  <div class="tab">
    <button class="js-tablinks" id="js-default-open" onclick="changePage(event, 'contacts-tab')">Contact List</button>
    <button class="js-tablinks" onclick="changePage(event, 'information-tab')">My Information</button>
  </div>

  <div class="h-center">
    <p>{{ user.username }}</p>
  </div>

  <div>
    <p>
    <a href="{% url 'manage_licenses' %}">Licenses</a>
    <a href="{% url 'admin_dash' %}">Admin</a>
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'logout' %}">Log Out</a>
    </p>
  </div>

</div>



{% endblock header %}

{% block logocontainer %}{% endblock logocontainer %}

{% block main %}
{% comment %} <div class="flex-container widget-box"> {% endcomment %}


 


<div id="contacts-tab" class="js-tabcontent">
 
    
      <p>
        This screen displays the contacts for the entire Organization. If you want to update your personal Information, 
        click on 'My Information' menu item above.
      </p>
    
  <h3 class="center-text">Manage Contacts</h3>

  <div class="h-center widget fit-width">
    
    <div>
      <form>
        <p><a href="{% url 'add_contact' %}">Add Contact</a></p>
        <div class="box">
        <input id="contact-search-button" type="button" value="Search"/>
        {{ contact_search_form }}
         <input id="clear-contact-search" type="button" value="Clear"/>
       </div>
      </form>
    </div>

      <form>
          <table id="contact-table">
            <thead>
              <tr> 
                <th></th>
              </tr>
            </thead>
          </table>
        <p><input type="button" name="delete_contact_button" id="delete-contact-button" value="Delete"></p>  
      </form>

  </div>

</div>

<div id="information-tab" class="js-tabcontent">
  
  

    <div class="card">
      <div class="box">
      <h3>{{ user.username }}</h3>
        <p>UserEmail: {{ user.email }}</p>
        <p>Role: {{ contact_data.role }}</p>
        <p>Org: {{ contact_data.organization }}</p>
        <p>UserID: {{ user.id }}</p>
        <p>OrgID: {{ contact_data.organization.id }}</p>
      </div>
      
  </div>

      <div class="box">
        <p class="box"><a href="{% url 'password_change' %}">Change Password</a></p>
        
        <p class="box"><a href="{% url 'password_reset' %}">Reset Password</a></p>
      </div>
</div>



{% endblock main %}

{% block footer %}{% endblock footer %}