<!-- templates/manage_contacts/manage-contacts.html -->
{% extends "base.html" %}

{% block title %}Manage Contacts{% endblock title %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manage_contacts/css/style.css' %}">
<script src="{% static "manage_contacts/js/script.js" %}"></script>
{% endblock head %}

{% block header %}
<div class="app-header">
  <div class="tab">
    <button class="js-tablinks" id="js-default-open" onclick="changePage(event, 'contacts-tab')">Contact List</button>
    <button class="js-tablinks" onclick="changePage(event, 'information-tab')">My Information</button>
  </div>

  <div class="nav-row navigation-buttons">
    <p><a href="{% url 'manage_licenses' %}">Manage Licenses</a></p>
    <p><a href="{% url 'homepage' %}">Home</a></p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  </div>
</div>
{% endblock header %}

{% block logocontainer %}{% endblock logocontainer %}

{% block main %}
<h2> Manage Contacts </h2>

  <div class="flex-box">
    <p> {{ user_email }} - {{ user_role }} - {{ user_org }} </h3>
  </div>

<div id="contacts-tab" class="js-tabcontent">
  <div>
    <p>
      This screen displays the contacts for the entire Organization. If you want to update your personal Information, 
      click on 'My Information' menu item above.
    </p>
    <p><a href="{% url 'add_contact' %}">New Contact</a></p>
  </div>

  <div class="flex-box widget-box"> 
    <h3>Filter Contacts</h3>
    <form>
      <input id="contact-search-button" type="button" value="Search"/>
      {{ contact_search_form }}
      <input id="clear-contact-search" class="button" type="reset" value="Clear"/>
    </form>
  </div>

  <h3 class="table-label">Contacts</h3>
  <form>
    <div class="table-container">
      <table id="contact-table" class="widget-table">
        <thead>
          <tr> 
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
    <p><input type="button" name="delete_contact_button" id="delete-contact-button" value="Delete"></p>
  </form>
</div>

<div id="information-tab" class="js-tabcontent">
    <div class="flex-box widget-box">
      <h3>{{ user.username }}</h3>
        <p>UserID: {{ user.id }}</p>
        <p>UserEmail: {{ user_email }}</p>
        <p>Role: {{ user_role }}</p>
        <p>Org: {{ user_org }}</p>
        <p>OrgID: {{ org_id }}</p>
        <p><a href="{% url 'password_change' %}">Change Password</a></p>
        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    </div> 
</div>

{% endblock main %}

{% block footer %}{% endblock footer %}